<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preload" href="css/app.css?_hash={{hash}}">
    <link rel="stylesheet" href="css/app.css?_hash={{hash}}">
    <script src="js/app.js?_hash={{hash}}" defer=""></script>
    <script>
      window.__INITIAL_STATE__ = {{{toJson state}}};
    </script>
    <title>Document</title>
</head>
<body>
  {{{rendered}}}
</body>
</html>